# Lectura CSV de medallas desde url externa con urllib3

In [5]:
import urllib3

In [105]:
medals_url = "https://raw.githubusercontent.com/dbgjerez/ml-learning/main/ejercicios/b03-leer-url/data.csv"

In [106]:
http = urllib3.PoolManager()
r = http.request("GET", medals_url)

## r = response

In [89]:
print("El estado de la respuesta es: %d" %(r.status))

El estado de la respuesta es: 200

## recibimos un str binario en utf-8

In [110]:
data = r.data
str_data = data.decode("utf-8")

## procesamos linea a linea

### Recorro data y relleno dict cabecera

In [111]:
res = {}
lines = 0
cols = []
for line in str_data.split("\n"):
    if lines == 0:
        cols = line.split(",")
        for col_name in cols:
            res[col_name]=[]
    else:
        values = line.strip().split(",")
        if len(values) == len(cols):
            for i in range(len(cols)):
                res[cols[i]].append(values[i])
    lines+=1
print("El fichero contiene %d columnas y %d filas" %(len(cols), lines))

El fichero contiene 2 columnas y 5 filas

## Convertimos el dict a DataFrame

In [112]:
df = pd.DataFrame(res)

In [113]:
df.head()

                     title pages
0  La Comunidad del Anillo   488
1           Las dos torres   408
2       El retorno del Rey   520