# Regresi√≥n lineal con Python

In [4]:
import pandas as pd

In [5]:
CSV_URL="https://raw.githubusercontent.com/dbgjerez/ml-learning/main/ejercicios/c01-regresion-lineal-python/advertising.csv"
data = pd.read_csv(CSV_URL)

In [6]:
data.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9